# ignore node_modules
node_modules/

# ignore distribution folder
dist/

# ignore environment variable
.env

# ignore config file 
src/database/config/config.json
src/config.json

.DS_store

# ignore log files
/src/log/*.log

# ignore public folder
/src/public